[package]
name = "gltf"
version = "0.12.0"
authors = ["David Harvey-Macaulay <alteous@outlook.com>"]
description = "glTF 2.0 loader"
documentation = "https://docs.rs/gltf"
repository = "https://github.com/gltf-rs/gltf"
homepage = "https://github.com/gltf-rs/gltf"
readme = "README.md"
keywords = ["glTF", "3D", "asset", "model", "scene"]
license = "MIT/Apache-2.0"
include = ["**/*.rs", "Cargo.toml"]
edition = "2018"

[badges]
travis-ci = { repository = "gltf-rs/gltf" }

[workspace]
members = ["gltf-derive", "gltf-json"]

[dev-dependencies]
approx = "0.3"

[dependencies]
base64 = { optional = true, version = "0.10" }
byteorder = "1.1"
cgmath = "0.17"
gltf-json = { path = "gltf-json", version = "0.12.0" }
lazy_static = "1"

[dependencies.image]
default-features = false
features = ["jpeg", "png_codec"]
optional = true
version = "0.21"

[features]
default = ["import", "utils", "names"]
extras = ["gltf-json/extras"]
names = ["gltf-json/names"]
utils = []
import = ["base64", "image"]
KHR_materials_pbrSpecularGlossiness = ["gltf-json/KHR_materials_pbrSpecularGlossiness"]
image_jpeg_rayon = ["image/jpeg_rayon"]

[[example]]
name = "gltf-display"
path = "examples/display/main.rs"

[[example]]
name = "gltf-export"
path = "examples/export/main.rs"

[[example]]
name = "gltf-tree"
path = "examples/tree/main.rs"
