name: Tests

on: pull_request

env:
  CARGO_TERM_COLOR: always

jobs:
  test:
    name: Run test
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Checkout glTF Sample Assets
        uses: actions/checkout@v2
        with:
          repository: KhronosGroup/glTF-Sample-Assets
          path: glTF-Sample-Assets

      - name: Tests (minimal features)
        run: cargo test --all --release --features allow_empty_texture

      - name: Tests (all features)
        run: cargo test --all --all-features --release

      - name: Formatting
        run: cargo fmt --all -- --check

      - name: Clippy
        run: cargo clippy --all-features

      - name: Semantic versioning checks
        uses: obi1kenobi/cargo-semver-checks-action@v2
